.container {
    text-align: center;
    margin-top: 50px;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 35%;
    margin: auto;
  }
  
  td {
    border: 1px solid black;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }